.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.err {
    color: red;
}

.button {
  padding: 10px 40px 10px 40px;
  margin: 5px;
  border: 1px solid black;
  font-size: 14pt;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
}

#i0 {
	height: 800px;
}

.slide {
    height: 700px;
}

.input {
    border: 1px solid #999;
    border-bottom: 2px solid #000;
    font-size: 1em;
    width: 150px;
    padding: 5px;
}

.stars {
    margin: 0 80px;
}